body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#formVarning {
  color: red;
  font-style: italic;
  font-size: smaller;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
#test {
  padding-left: 10%;
}
#timeforingToggel li {
  display: inline;
}
#rowVarning {
  color: red;
  font-style: italic;
}
.myJumbotronSpacing {
  margin-top: 10%;
  width: auto;
}
#test {
  color: red;
  background-image: url("./images//testImage.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.minNav {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 20%;
}

.navList li {
  display: inline;
}
.myForm {
  margin-left: 1%;
}
.customModal {
  background-image: url("./images/porsche.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
#modalHeader {
  background-image: url("./images/sky.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}

#loginList {
  list-style: none;
  display: inline;
}
#loginList li {
  display: inline;
}
#LoginBtn {
  margin-top: 15%;
}
